body {
    font-family: Arial, sans-serif;
    background-color: #e0ebf5;
    color: #2c3e50;
    margin: 0;
    padding: 0;
}

.welcome-container {
    background-color: #f7fbff;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #34495e;
}

.welcome-container .back-button {
    position: absolute;
    left: 40px;
    background-color: #3498db;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.welcome-container h1 {
    margin: 0;
    font-size: 24px;
    color: #34495e;
    text-align: center;
    flex-grow: 1;
}


.welcome-container .back-button:hover {
    background-color: #2980b9;
}

.logout-button {
    background-color: #e74c3c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.logout-button:hover {
    background-color: #c0392b;
}

.table-container {
    padding: 20px;
    text-align: center;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #34495e;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

a {
    text-decoration: none;
    color: #3498db;
}

a:hover {
    text-decoration: underline;
}

.save-button {
    margin-top: 20px;
    background-color: #2ecc71;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: none;
    margin-left: auto;
    margin-right: auto;
}

.save-button:hover {
    background-color: #27ae60;
}

.save-button.disabled {
    background-color: #e74c3c;
    cursor: not-allowed;
}

.save-button.disabled:hover {
    background-color: #e74c3c;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.project-info-container {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px auto;
    width: 30%;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
}

.project-info-container h2 {
    font-size: 20px;
    color: #34495e;
    margin-bottom: 10px;
}

.project-info-container p {
    font-size: 16px;
    color: #7f8c8d;
    margin: 5px 0;
}

.project-info-container .highlight {
    color: #2ecc71;
    font-weight: bold;
}