/* Impostazioni generali */
body {
    font-family: Arial, sans-serif;
    background-color: #e0ebf5;
    color: #2c3e50;
    margin: 0;
    padding: 0;
}

/* Contenitore del messaggio di benvenuto */
.welcome-container {
    background-color: #f7fbff;
    padding: 20px 40px;
    display: flex;
    justify-content: center; /* Cambiato per centrare l'h1 */
    align-items: center;
    border-bottom: 2px solid #34495e;
}

.welcome-container .back-button {
    position: absolute;
    left: 40px; /* Posiziona il bottone a sinistra */
    background-color: #3498db;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.welcome-container h1 {
    margin: 0;
    font-size: 24px;
    color: #34495e;
    text-align: center;
    flex-grow: 1; /* Rimuovere 'auto' */
}


.welcome-container .back-button:hover {
    background-color: #2980b9;
}

.logout-button {
    background-color: #e74c3c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.logout-button:hover {
    background-color: #c0392b;
}

/* Sezione della tabella */
.table-container {
    padding: 20px;
    text-align: center;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #34495e;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

a {
    text-decoration: none;
    color: #3498db;
}

a:hover {
    text-decoration: underline;
}

/* Scheda informazioni progetto */
.project-info {
    background-color: #f7fbff;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    position: relative;
}

.project-info h2 {
    margin: 0 0 10px 0;
    font-size: 20px;
    color: #34495e;
}

.project-info p {
    margin: 5px 0;
    font-size: 16px;
}

.save-button {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    background-color: #27ae60;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.save-button:hover {
    background-color: #219150;
}

.table-title {
    font-size: 20px;
    color: #34495e;
    margin-bottom: 10px;
}

/* Sezione del filtro */
.filter-container {
    margin: 20px 0;
    text-align: center;
}

.search-bar {
    padding: 10px;
    width: 60%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.disabled-link {
    color: #ccc;
    pointer-events: none;
}