<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Download Timesheet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/researcher.css">
    <link rel="stylesheet" href="/supervisor.css">
</head>

<body>
<div class="welcome-container">
    <a href="/" class="back-button">Go back</a>
    <h1 id="welcomeTitle" >Welcome RESEARCHER <span id="username" th:text="${utente.getUsername()}">username</span></h1>
    <a id="logout" href="/logout" class="logout-button">Logout</a>
</div>

<!-- Contenitore delle informazioni sul progetto -->
<div class="project-info-container">
    <div>
        <h2>Project name:</h2>
        <p><span class="highlight" th:text="${project.title}">Project name</span></p>
    </div>
    <div>
        <h2>Funding Agency:</h2>
        <p><span class="highlight" th:text="${project.denominazioneSoggetto}">Funding Agency</span></p>
    </div>
</div>

<div class="table-container">
    <h1>DOWNLOAD VALIDATED MONTHS TIMESHEET</h1>
    <table>
        <thead>
        <tr>
            <th>MONTH</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="month: ${validatedMonths}">
            <td id="monthYear" th:text="${month}">10</td>
            <td><a id="timesheet" th:href="@{/downloadMonthlyTimesheet(idProject=${project.getId()}, date=${month}, user=${utente.username})}">Download Timesheet</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>