<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/style.css">
</head>

<body>
<div class="login-form">
    <h1 id="loginTitle" >Login</h1>
    <div th:if="${error}" class="error-message" th:text="${error}" id="errorMessage" ></div>
    <form action="loginUser" method="post">
        <input type="text" id="username" name="user" placeholder="Username" required>
        <input type="password" id="password" name="psw" placeholder="Password" required>
        <button type="submit">Login</button>
    </form>
</div>
</body>
</html>
