<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/administrator.css">
</head>

<body>
<div class="welcome-container">
    <a href="/administrator" class="back-button">Go back</a>
    <h1>Welcome ADMINISTRATOR <span id="username" th:text="${username}">username</span></h1>
    <a id="logout" href="/logout" class="logout-button">Logout</a>
</div>

<div class="table-container">
    <a id="newUser" href="/newUser" class="create-user-button">Create User</a>
    <table id="researcher-table">
        <thead>
        <tr>

            <th>Researcher Name</th>
            <th>Researcher Surname</th>
            <th>Researcher Username</th>
            <th>Role</th>
            <th>Manage User</th>
            <th>Delete User</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}" th:attr="data-surname=${user.id}">
            <td th:text="${user.getName()}"></td>
            <td th:text="${user.getSurname()}"></td>
            <td th:text="${user.getUsername()}"></td>
            <td th:text="${user instanceof T(it.univr.Model.User.Supervisor) ? 'Supervisor' : 'Researcher'}"></td>
            <td><a href="#">Manage User</a></td>
            <td><a id="deleteUser" th:href="@{/deleteUser(id=${user.id})}">Delete User</a></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
