<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage Projects</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/administrator.css">
</head>

<body>
<div class="welcome-container">
    <a href="/administrator" class="back-button">Go back</a>
    <h1>Welcome ADMINISTRATOR <span id="username" th:text="${username}">username</span></h1>
    <a id="logout" href="/logout" class="logout-button">Logout</a>
</div>

<div class="table-container">
    <!-- Bottone per creare nuovo progetto -->
    <a id="newProject" href="/newProject" class="create-project-button">Crea Progetto</a>

    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>CUP</th>
            <th>Funding Agency</th>
            <th>Manage</th>
        </tr>
        </thead>
        <tbody>
        <tr id="project" th:each="project : ${projects}">
            <td th:text="${project.title}"></td>
            <td th:text="${project.cup}"></td>
            <td th:text="${project.getDenominazioneSoggetto()}"></td>
            <td><a href="#">Manage</a></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
